.date-table {
  table-layout: fixed;
  width: 100%;
  font-size: 0.75em;
  min-width: 224px;
  user-select: none;

  th {
    padding: 0.25em;
    text-align: center;
    color: $table-color;
    font-weight: 500;
    text-transform: capitalize;
  }

  td {
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;

    &.next-month,
    &.prev-month {
      color: #ddd;
    }

    &.available:hover {
      background-color: $table-available-hover;
    }

    &.in-range {
      background-color: $table-in-range;

      &:hover {
        background-color: $table-in-range-hover;
      }
    }

    &.today {
      position: relative;
      color: #20a0ff;

      &:before {
        content: " ";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 0.5em solid #20a0ff;
        border-left: 0.5em solid transparent;
      }
    }

    &.current:not(.disabled),
    &.start-date,
    &.end-date {
      background-color: #20a0ff !important;
      color: #fff;
    }

    &.disabled {
      background-color: grey;
      opacity: 1;
      color: #ccc;
    }
  }
}
