.date-picker {
  font-family: $font-family;
}

.date-picker {
  width: 12em;
  height: 2em;

  > .date-input > input {
    padding-left: 2em;
    text-align: left;
  }
}

.date-picker-open {
  //&:before {
  //  position: absolute;
  //  right: 1px;
  //  bottom: 1px;
  //  z-index: 9999;
  //  display: inline-block;
  //  width: 99%;
  //  height: 2px;
  //  content: "";
  //  background: white;
  //
  //  @media #{$small-only} {
  //    background: transparent;
  //  }
  //}
}
