.date-tables {
  .date-tables__panel {
    float: left;
    position: relative;
    min-width: 14em;
    width: 50%;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;

    &.is-right .buttons-wrapper {
      right: 0;
    }

    &.is-left {
      border: 0;

      .buttons-wrapper {
        left: 0;
      }
    }

    .date-tables__panel__header {
      position: relative;
      text-align: center;
      height: 1.75em;

      .buttons-wrapper {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: 0;

        button {
          float: left;

          @media #{$small-only} {
            padding: 0.5em;
            margin-left: 0;
            position: relative;
            left: -0.25em;
            top: -0.375em;
          }
        }
      }

      .date_tables__month {
        color: darken($table-color, 40%);
        font-weight: 500;
        text-transform: capitalize;
        font-size: 14px;
      }

      .date-tables__icon-btn {
        font-weight: bolder;
        border: 0;
        background: transparent;
        cursor: pointer;

        &:hover {
          color: #20a0ff;
        }

        &:before {
          font-size: 0.75em;
        }
      }
    }

    @media #{$small-only} {
      width: 100%;

      &.is-left {
        border-right-style: none;
      }
    }
  }
}
