.date-input {
  position: relative;
  display: flex;
  width: 100%;
  font-size: 0.8125em;

  .date-input__icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 100%;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    margin: 0;
    font-size: inherit;
    line-height: 2.5em;
    color: $input-color;
    text-align: center;
    //border-radius: 1px;
    border: 0 solid $input-color;
    border-bottom-width: 1px;

    &:focus {
      color: $focus-color;
      border-color: $focus-color;
      outline: none;
      box-shadow: none;
    }
  }
}

.icon-calendar {
  right: initial;
  width: 15px;
  height: 15px;
}
