@media #{$small-only} {
  .el-picker-panel.el-date-range-picker {
    position: fixed !important;
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    overflow-y: auto;
  }

  .el-date-range-picker__content.is-left,
  .el-date-range-picker .el-picker-panel__content {
    width: 100%;
  }

  .el-date-range-picker .el-picker-panel__body {
    margin: 0;
    min-width: 100%;
  }

  .el-date-range-picker__content.is-left {
    border-bottom: $border-default;
    border-right: $none-value;
  }

  .el-picker-panel__body-wrapper,
  .el-picker-panel__body {
    margin: 0;
    background: $brand-white-color;
    border-width: 0;
    @include box-shadow($pop-box-shadow);
  }

  .el-picker-panel__body-wrapper {
    height: 100%;

    .el-picker-panel__body {
      min-width: 100%;
      border: 0;
    }
  }
}
